<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form method="POST" action="/cadastrar_post" class="center">
    Título: <input name="titulo" type="text"><br>
    Resumo: <input name="resumo" type="text"><br>
    Conteúdo: <input name="conteudo" type="text"><br>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
