<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/estilo_08.css">
</head>
<body>
  <div class="container">
    <h1><%= title %></h1>
    <p class="message <%= status %>"><%= message %></p>
    <a href="/" class="btn">Voltar para Projects</a>
  </div>
</body>
</html>