<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <title>Resposta</title>
  <link rel="stylesheet" href="/public/estilo.css" />
</head>
<body>
  <div class="container">
    <h1>Resposta</h1>
    <p><%= resposta %></p>
    <p><a href="/projects.html">Voltar para Projects</a></p>
    <p><a href="/carros">Ver lista pública</a></p>
  </div>
</body>
</html>