body{
    background-color: aquamarine;
}

#nome{
    color: darkgreen
}

p{
    color: forestgreen;
}

#título_h2{
    color: forestgreen;
}

.tag_lista{
    color: darkolivegreen
}

a:hover{
    background-color: azure;
}