.dotted{border-style: 5px dotted blue;}
.dashed{border-style: 5px dashed red;}
.solid{border-style: 5px solid green;}
.margin{margin: 10px;}
.radius_10{border-radius: 10px;}
.radius_20{border-radius: 20px;}
.shadow{box-shadow: 5px 5px gray;}
.margin{margin: 10px;}
.padding{padding: 10px;}
.width{width: 200px;}
